{{!< layout}}
<script src="{{localBaseUrl}}/js/addon.js"></script>
<div class="aui-group nps-config-page">
    <div class="aui-item">
        <div class="nps-config-step">
            <img class="nps-config-step-number" id="nps-config-step-number-one" src="{{localBaseUrl}}/img/grey_1.svg"/>
            <span class="nps-config-step-header nps-config-greyed-out" id="nps-config-step-header-one">Authenticate with SurveyMonkey</span>
            <div hidden class="nps-config-step-explanation" id="nps-config-step-explanation-one">Log in to SurveyMonkey to authenticate your account with HipChat.</div>
            <div hidden id="nps-config-authenticate">
                <img src="{{localBaseUrl}}/img/surveymonkey.svg" class="nps-config-survey-monkey-logo"/>
                <br>
                <div class="nps-config-authenticate-button">
                    <button class="aui-button aui-button-primary" onclick="beginOAuth('{{surveyMonkeyURI}}');">Authenticate</button>
                </div>
            </div>
        </div>

        <div class="nps-config-step">
            <img class="nps-config-step-number" id="nps-config-step-number-two" src="{{localBaseUrl}}/img/grey_2.svg"/>
            <span class="nps-config-step-header nps-config-greyed-out" id="nps-config-step-header-two">Select NPS Survey</span>
            <form hidden class="aui nps-config-form" id="nps-config-survey-names-form" action="submit-survey-name?signed_request={{signed_request}}" method="post">
                <select name="surveyname" id="nps-config-survey-names-select">
                    <option disabled="disabled" id="nps-config-no-surveys-found-option">No surveys found for your account.</option>
                </select>
                {{#if badSurvey}}<div class="nps-config-error-text">We could not parse the selected survey. Please ensure your survey uses the SurveyMonkey NPS template.</div>{{/if}}
                <br><br>
                <input class="aui-button aui-button-primary submit" id="nps-config-survey-name-save-button" disabled="disabled" type="submit" value="Save">
            </form>
        </div>
        
        <div class="nps-config-step">
            <img class="nps-config-step-number" id="nps-config-step-number-three" src="{{localBaseUrl}}/img/grey_3.svg"/>
            <span class="nps-config-step-header nps-config-greyed-out" id="nps-config-step-header-three">Set goal NPS value</span>
            <div hidden class="nps-config-step-explanation" id="nps-config-step-explanation-three">Tell us what you're aiming for. This will be displayed along with your current NPS at the top of the comment feed.</div>
            <form hidden class="aui nps-config-form" id="nps-config-goal-form" action="submit-survey-goal?signed_request={{signed_request}}" method="post">
                <input class="text" type="text" name="goal" value="{{goalNPS}}">
                {{#if goodGoal}}<img src="{{localBaseUrl}}/img/tick.svg"/>{{/if}}
                {{#if badGoal}}<div class="nps-config-error-text">Please enter a number value between -100 and 100.</div>{{/if}}
                <br><br>
                <input class="aui-button aui-button-primary submit" type="submit" value="Save" name="save"> <input class="aui-button" type="submit" value="Reconfigure SurveyMonkey" name="reconfigure">
            </form>
        </div>
    </div>
</div>
<script>
    var surveyNames = [];
    {{#each surveyList}}
        surveyNames.push('{{this.title}}');
    {{/each}}
    displayConfigPage('{{accessToken}}', '{{surveyName}}', surveyNames, '{{goalNPS}}');
</script>
