<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="acpt" content="{{signed_request}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{hostStylesheetUrl}}"></head>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.0/css/aui.css" media="all">
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.0/css/aui-experimental.css" media="all">
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-hipchat/0.0.3/css/aui-hipchat.min.css">
  <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-ie.css" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-ie9.css" media="all"><![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="//aui-cdn.atlassian.com/aui-hipchat/0.0.3/js/aui-hipchat.min.js"></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0/js/aui.js"></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0/js/aui-experimental.js"></script>

  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
<body class="aui-page-hybrid addon">
  <section id="content" role="main" class="ac-content">
    {{{body}}}
  </section>
  <script>
    var ACPT = '{{signed_request}}';
  </script>
  {{! <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/js/aui.js"></script> }}
  {{! <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/js/aui-ie.js"></script><![endif]--> }}
  <script src="{{hostScriptUrl}}"></script>
  <script src="{{furl '/js/iframe.min.js'}}"></script>
  <script src="{{furl '/js/addon.js'}}"></script>
</body>
</html>