{{!< layout}}

<section class="aui-connect-page" role="main">
    <section class="aui-connect-content">
        <div class="aui-message aui-message-info">
            <p class="title">
                <strong>This add-on is no longer supported.</strong>
            </p>
            <p>NPS for HipChat is no longer compatible with the latest version of SurveyMonkey. Unfortunately we need to retire this
                add-on for now. Thanks for using NPS for HipChat, and we apologise for any inconvenience.</p>
            <br>
        </div>
    </section>
</section>