{{!< layout}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="aui-group nps-group">
    <div class="aui-item">
        <ul class="nps-overhead">
            <li class="nps-overhead-thing">
                <span class="nps-goal-text">Goal: </span>
                <span class="nps-goal-value"></span>
                <span class="nps-current-text">Current: </span>
                <span class="nps-current-value"></span>
            </li>
            <li>
                <form class="aui" class="nps-overhead-second">
                    <div class="nps-filter-dropdown">
                        <select id="select-nps-filter">
                            <option value="all">All feedback</option>
                            <option value="promoters">Promoters</option>
                            <option value="passives">Passives</option>
                            <option value="detractors">Detractors</option>
                        </select>
                    </div>
                </form>
            </li>
        </ul>
        <div class="nps-comments-container">
            <!-- List of comments will be populated here-->
        </div>
        <hr class="nps-border">
    </div>
</div>

<div class="aui-group nps-focus">
    <div class="aui-item">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" style="border:none; background-color: white;">
                <img src="{{localBaseUrl}}/img/unclicked_ellipsis_no_border.svg"/>
            </button>
            <ul class="dropdown-menu-right dropdown-menu">
                <li class="dropdown-li"><a href="#">Discuss</a></li>
            </ul>
        </div>

        <div class="expanded_header">
            <img class="back_arrow" src="/img/back_arrow.svg"/>
            <img class="comment_icon" src="/img/glance_icon_big.svg"/>
            <span class="product_name">some product</span>
        </div>
        <div class="time_posted">Time posted</div>
        <div class="nps_comment_expanded"></div>
        <div class="expanded_customer_detail_section">
            <span class="customer_detail_label">Score: </span>
            <span id="score_badge" class="aui-lozenge"> Some score </span>
        </div>
        <div class="expanded_customer_detail_section">
            <span class="customer_detail_label">Gender: </span>
            <span id="customer_gender_value"></span>
        </div>
        <div class="expanded_customer_detail_section">
            <span class="customer_detail_label">Age: </span>
            <span id="customer_age_value"></span>
        </div>
        <div class="expanded_customer_detail_section">
            <span class="customer_detail_label">Income: </span>
            <span id="customer_income_value"></span>
        </div>
        <div class="expanded_customer_detail_section">
            <span class="customer_detail_label">Country: </span>
            <span id="customer_country_value"></span>
        </div>
    </div>
</div>